<div>
	<div class="camera-header">
		<h2>{{vm.cameraName}}</h2>
	</div>
	<div class="camera-body">
		<div ng-init="vm.activeTab=0">
			<div ng-click="vm.activeTab = 0" class="tab" ng-class="{active:vm.activeTab === 0}">Aktuell</div>
			<div ng-click="vm.activeTab = 1" class="tab" ng-class="{active:vm.activeTab === 1}">Historie</div>
		</div>
		<div class="latest" ng-show="vm.activeTab === 0">
			<img ng-src="/images/{{vm.latest_image}}" alt="letztes Bild">
			<span class="latest-title">{{vm.latest_image | imageTime}}</span>
		</div>
		<camera-history ng-show="vm.activeTab === 1" is-history-active="vm.activeTab === 1" camera-name="vm.cameraName" default-image="vm.latest_image"></camera-history>
	</div>
</div>