<div class="camera-history" ng-if="vm.isHistoryActive">
    <div>
        <div class="explorer">
            <div class="folder" ng-repeat="folder in vm.folderList">
                <div class="folder-title" ng-click="vm.toggleFolder(folder)">{{folder.name}}</div>
                <div class="folder-content" ng-if="folder.isEnfolded">
                    <div class="content-loading" ng-if="!folder.isContentLoaded">lade...</div>
                    <div ng-if="folder.isContentLoaded">
                        <div ng-repeat="image in folder.content" ng-click="vm.previewImage(image)" ng-class="{active:image.isActive}" class="folder-entry">
                            {{image.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="preview">
            <img ng-if="vm.selected" ng-src="{{vm.selected.url}}" alt="Vorschau Bild">
        </div>
    </div>
</div>