<div id="login-module">
	<md-content layout="column" ng-if="!vm.userObj" ng-class="{error:vm.loginErrorOccured}" layout-align="center center">
		<div class="error-text" ng-if="vm.loginErrorOccured">Name oder Passwort sind falsch!</div>
		<div layout="row" layout-xs="column" layout-align="center center" >
			<md-input-container flex="1">
				<label>Name</label>
				<input ng-model="vm.username" ng-keyup="$event.keyCode == 13 && vm.login()">
			</md-input-container>
			<md-input-container flex="1">
				<label>Passwort</label>
				<input type="password" ng-model="vm.password" ng-keyup="$event.keyCode == 13 && vm.login()">
			</md-input-container flex="1">
			<md-button class="md-raised" ng-click="vm.login()">Login</md-button>
		</div>
	</md-content>
	<md-content ng-if="vm.userObj" class="logged-in">
		Angemeldet als <b>{{vm.userObj}}</b>
		<a ng-click="vm.logout()" href="">ausloggen</a>
	</md-content>
</div>